<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757384248052-12eg6p2d4qe2fjvkhvgtvqab0gd43eg7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757384248052-12eg6p2d4qe2fjvkhvgtvqab0gd43eg7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>757384248052-nmlb1or0a6m2ue58e1hd08a14p4gop5c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBjoD6v9VdvrQhaPD5ps9x2yQBGRuC1gTI</string>
	<key>GCM_SENDER_ID</key>
	<string>757384248052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amitvasu</string>
	<key>PROJECT_ID</key>
	<string>skoolfame-1e711</string>
	<key>STORAGE_BUCKET</key>
	<string>skoolfame-1e711.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757384248052:ios:cac645856ade8dcbbf7ca1</string>
</dict>
</plist>